body {
    font-family: sans-serif;
}

#menu {
    /*outline: 1px solid crimson;*/
}

#menu ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

#menu #item {
    float: left;
}

#menu #item a {
    background: cadetblue;
    color: cornsilk;
    padding: 12px 22px;
    display: block;
    text-decoration: none;
}

#menu #item:hover #desplega {
    display: inline-block;
}

#menu #desplega {
    display: none;
    position: absolute;
    min-width: 150PX;
}

li {
    color: cornsilk;
    list-style: none;
    text-align: justify;
    padding: 0;
    margin: 0;
}

img {
    max-width: 1000px;
    margin-top: 100px;
}

#menu #item a {
    /*outline: 1px solid black;*/
    text-decoration: none;
    display: block;
    color: cornsilk;
}

#menu #item a:hover {
    background-color: rgb(53, 112, 114);
    color: chocolate;
}

h1 {
    color: rgb(180, 134, 73);
}

h4 {
    color: cornsilk;
}

span {
    color: cornsilk;
}

p {
    color: cornsilk;
    text-align: justify;
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    max-width: 1000px;
}